%% -*- mode: erlang -*-

{erl_opts, [warnings_as_errors, debug_info]}.

{edoc_opts, [{preprocess, true}]}.

{cover_enabled, true}.

{deps, [
       {gen_leader, ".*",
        {git, "git://github.com/abecciu/gen_leader_revival.git", {branch, "master"}}},
       {gproc, ".*",
        {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
       ]}.
